<input [(ngModel)]="name" (input)="updateName()" />

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formGroupName="user">
    <input formControlName="name" placeholder="Name" />
    @if (form.get('user.name')?.touched && form.get('user.name')?.invalid) {
      <div
        >
        Name is required.
      </div>
    }

    <input formControlName="email" placeholder="Email" />
    @if (
      form.get('user.email')?.touched &&
      form.get('user.email')?.hasError('email')
      ) {
      <div
        >
        Invalid email format.
      </div>
    }
  </div>

  <div formGroupName="address">
    <input formControlName="city" placeholder="City" />
    @if (
      form.get('address.city')?.touched && form.get('address.city')?.invalid
      ) {
      <div
        >
        City is required.
      </div>
    }
  </div>

  <button type="submit">Submit</button>
</form>
