<p-menubar [model]="items">
  <ng-template #item let-item>
    <ng-container *ngIf="item.route; else urlRef">
      <a [routerLink]="item.route" class="p-menubar-item-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-container>
    <ng-template #urlRef>
      <a
        *ngIf="item.url; else noLink"
        [routerLink]="item.url"
        class="p-menubar-item-link"
      >
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template #noLink let-root="root">
      <div class="p-menubar-item-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        @if (item.items) {
        <span class="pi pi-fw pi-angle-down ml-2"></span>
        }
        <!-- <p-badge *ngIf="item.badge" class="ml-2" [value]="item.badge" /> -->
      </div>
    </ng-template>
  </ng-template>
  <!-- <ng-template #end>
    <div class="flex items-center gap-2">
      <input type="text" pInputText placeholder="Search" class="w-36" />
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      />
    </div>
  </ng-template> -->
</p-menubar>
