<ng-content></ng-content>
<div *ngIf="true; else loginTemplate">Welcome, User!</div>
<ng-template #loginTemplate> Please log in. </ng-template>

<ng-container>
  <p>This is a container fragment</p>
</ng-container>

<ng-template #showNgTemplateContent> Should be displayed </ng-template>
<div class="calculator">
  <div class="display">{{ display || "0" }}</div>
  <div class="buttons">
    <button (click)="clear()">C</button>
    <button (click)="deleteLast()">DEL</button>
    <button (click)="append('/')">/</button>
    <button (click)="append('*')">*</button>

    <button (click)="append('7')">7</button>
    <button (click)="append('8')">8</button>
    <button (click)="append('9')">9</button>
    <button (click)="append('-')">-</button>

    <button (click)="append('4')">4</button>
    <button (click)="append('5')">5</button>
    <button (click)="append('6')">6</button>
    <button (click)="append('+')">+</button>

    <button (click)="append('1')">1</button>
    <button (click)="append('2')">2</button>
    <button (click)="append('3')">3</button>
    <button class="equals" rowspan="2" (click)="calculate()">=</button>

    <button class="zero" colspan="2" (click)="append('0')">0</button>
    <button (click)="append('.')">.</button>
  </div>
</div>
