<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-select
    formControlName="country"
    label="Select Country"
    [options]="[
      { label: 'USA', value: 'us' },
      { label: 'Canada', value: 'ca' },
      { label: 'India', value: 'in' }
    ]"
  ></app-select>
  <button type="submit" class="mt-3 px-4 py-2 bg-blue-500 text-white rounded">
    Submit
  </button>
</form>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-date-picker
    formControlName="dob"
    label="Select your birth date"
  ></app-date-picker>

  <button type="submit" class="mt-3 px-4 py-2 bg-blue-600 text-white rounded">
    Submit
  </button>
</form>

<p class="mt-3">Selected date: {{ form.get("dob")?.value | date }}</p>
