<div class="mb-4 p-5 flex items-start justify-start">
  <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
    <ng-template #header>
      <img
        alt="Card"
        class="w-full"
        src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
      />
    </ng-template>
    <ng-template #title> {{ this.userData.name }} </ng-template>
    <ng-template #subtitle> {{ this.userData.website }} </ng-template>
    <div class="mt-2">Mobile: {{ this.userData.phone }}</div>
    <div class="mt-2">email: {{ this.userData.email }}</div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
    <div class="card flex items-center gap-2 flex-wrap mt-4">
      <p-chip label="Apple" icon="pi pi-apple" />
      <p-chip label="Facebook" icon="pi pi-facebook" />
      <p-chip label="Google" icon="pi pi-google" />
    </div>
  </p-card>
</div>
